In [1]:
import pandas as pd
import statistics as stats

In [2]:
djia = pd.read_csv('djia.csv').drop('Date', axis=1)

In [3]:
djia.head()

          Open         High          Low        Close    Adj Close    Volume
0  1277.719971  1295.489990  1266.890015  1292.619995  1292.619995  13560000
1  1297.369995  1305.099976  1278.930054  1287.880005  1287.880005  16820000
2  1283.239990  1293.400024  1272.640015  1286.770020  1286.770020  14070000
3  1276.939941  1286.109985  1269.770020  1277.719971  1277.719971  10980000
4  1272.079956  1294.939941  1268.989990  1290.079956  1290.079956  11630000

In [4]:
def get_trend(data):
    return [data[i - 1] < data[i] for i in range(1, len(data))]

def get_moving_averages(data, window_size):
    return [stats.mean(data[i: i + window_size]) for i in range(len(data) - window_size)]

def get_next_day(data):
    return [data[i+1] for i in range(len(data) - 1)]

def get_moving_window_dataframes(window_size):
    averages, trends = pd.DataFrame(), pd.DataFrame()
    for column in list(djia):
        averages[column] = get_moving_averages(djia[column], window_size)
        trends[column] = get_trend(averages[column])
    averages_next_day = get_next_day(averages['Open'])
    trends_next_day = get_next_day(trends['Open'])
    last_average, last_trend = averages.tail(1), trends.tail(1)
    averages, trends = averages[:-1], trends[:-1]
    averages['Next'], trends['Next'] = averages_next_day, trends_next_day
    return averages, trends, last_average, last_trend

In [5]:
size_3_averages, size_3_trends, last_average, last_trend = get_moving_window_dataframes(3)

In [6]:
size_3_averages.head()

,Open,High,Low,Close,Adj Close,Volume,Next
0,1286.109985,1297.996663,1272.820028,1289.090007,1289.090007,1.481667e+07,1285.849975
1,1285.849975,1294.869995,1273.780030,1284.123332,1284.123332,1.395667e+07,1277.419962
2,1277.419962,1291.483317,1270.466675,1284.856649,1284.856649,1.222667e+07,1281.026652
3,1281.026652,1294.059977,1272.453329,1284.343302,1284.343302,1.213667e+07,1283.676677
4,1283.676677,1296.856649,1274.219971,1285.299967,1285.299967,1.334667e+07,1287.983358

In [7]:
size_3_trends.head()

    Open   High    Low  Close  Adj Close  Volume   Next
0  False  False   True  False      False   False  False
1  False  False  False   True       True   False   True
2   True   True   True  False      False   False   True
3   True   True   True   True       True    True   True
4   True   True   True  False      False   False  False